

.decrementBtn,
.incrementBtn {
  transform: rotate(90deg)
}

#quantity {
  background-color: white;
  color: black;
  padding: 6px;
  width: 30px;
}

.basket_product_img {
  width: 80px;
}


#basket {
  z-index: 1100;
}

.price-trashcan {
  width: 77px;
}

#basketProdContainer {
  height: 100%;
  overflow-y: auto;
}

.productDiv:nth-child(odd) {
  background-color: rgba(26, 25, 25, 0.274);
}


@media (max-width: 480px) {
  .productDiv {
    font-size: 13px;
  }

  .input-group {
    scale: 0.8;
  }

  .product_name {
    font-size: 14px;
  }

  .basket_product_img {
    width: 60px;
  }

  .price-trashcan {
    width: 62px;
  }

/*   .remove-btn {
    width: 17px;
  } */
}

@media (max-width: 400px) {
  .product_name {
    font-size: 12px;
  }

  .productDiv {
    font-size: 11px;
  }

  .basket_product_img {
    width: 50px;
  }

  .input-group {
    scale: 0.7;
    margin-right: 5px;
  }
}




