.product_img {
    height: 320px;
    object-fit: cover;
}



@media (max-width: 770px) {
    .product_img {
        height: 270px;
    }
}

@media (max-width: 480px) {
    .product_container {
        width: 100%;
    }
}