.carousel-indicators {
    transform: translateY(50px);
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}

#to_basket {
    background-image: url("../img/icons/Stacked_blob.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px;
    font-size: 19px;
    cursor: pointer;
}

.price-div {
    margin-top: 50px;
}

#container-fluid {
    min-height: 110vh;
}

#carouselExampleIndicators {
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 10px;
}

.carousel_image {
    border-radius: 10px;
}



@media (max-width: 993px) {
    .wide {
        width: 180%;
    }
}